@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-rows: 15% 20% 40% 25%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 0px lightgrey;
  grid-template-areas:
    "alias-header"
    "alias-hero"
    "alias-main"
    "alias-mail";
}
header {
  grid-area: alias-header;
  padding: 1.5rem;
  color: hsl(0, 6%, 24%);
}
.hero-pic {
  grid-area: alias-hero;
}
main {
  display: flex;
  flex-direction: column;
  grid-area: alias-main;
  padding: 1rem;
  max-width: 23rem;
  background-color: rgba(255, 255, 255, 0);
}
h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  margin: 1.5rem;
  font-family: "Josefin Sans";
  color: hsl(0, 6%, 24%);
}
span {
  font-size: 3rem;
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

article {
  text-align: center;
  line-height: 1.5rem;
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}
.mail {
  grid-area: alias-mail;
}
form {
  padding: 1rem;
  margin-bottom: 2rem;
}
.input-user {
  position: relative;
  display: flex;
  justify-content: center;
}
input {
  border-radius: 1.5rem;
  padding: 1rem;
  border-style: solid;
  width: 90%;
  height: 3.5rem;
}
input:focus {
  outline: 1px solid hsl(0, 36%, 70%);
}
.error-icon {
  display: none;
  position: absolute;
  bottom: 1rem;
  right: 6rem;
}
.error-icon-show {
  display: block;
}
button {
  position: absolute;
  height: 3.5rem;
  width: 5rem;
  border-radius: 2rem;
  border: none;
  right: 0.2rem;
  bottom: 0.05rem;
  background: linear-gradient(135deg, hsl(0, 80%, 100%), hsl(0, 74%, 74%));
}
.error-text {
  display: none;
  margin-top: 0.5rem;
  color: hsl(0, 93%, 68%);
  padding-left: 2.3rem;
}
.error-text-show {
  display: block;
}
@media (min-width: 800px) {
    	
    header{
        padding-left: 4rem;
    }
    body{
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    }
  .grid-container {
    grid-template-columns: 35rem 25rem;
    grid-template-rows: 7rem 18rem 8rem;
    grid-template-areas:
      "alias-header alias-hero"
      "alias-main   alias-hero"
      "alias-mail   alias-hero";
  }
  main {
    padding-left: 4rem;
    max-width: 50rem;
    padding-right: 5rem;
  }
  article,
  h1,
  span {
    text-align: start;
  }
  h1 {
    align-items: flex-start;
    margin: 0;
    margin-bottom:1rem ;
  }
  .hero-pic img{
    max-width: 24rem;;
    border-radius: 1rem;
  }
  .hero-pic{
    padding: 0.5rem;
  }
  .input-user{
    margin-top: 2rem;
    max-width: 85%;
  }
  #email{
 
  }
  footer{
    position: absolute;
    bottom:0;
  }

}
